<!DOCTYPE html>
<html>

<body>

<main>

        <h2> New Search </h2>
        <form class="search-form" action="/show" method="post">
          <label>Movie Search: <input type="text" name="movieSearch" /> </label>
          <button>Submit</button>
        </form>

  <h2> Search Results</h2>
  <section class ="all-api-movies" id ="test">
      <% renderedMovies.forEach( data => { %>
        <section class ="api-movies">
          <h3 class="title"><%= data.title %></h3>
          <p>Popularity: <%= data.popularity %></p>
          <p><%= data.released_on %></p>
          <img src=<%= data.image_url %>>
          <p><%= data.created_at %></p>
          <section>
          </section>
        </section>
        <form action ="/save" method = "post">
            <button>Save This Movie</button>
        </form>
      <% }) %>
  </section>
</main>
</body>
</html>

