<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
<body>
  <%- include('../../layout/header') %>
<main id="homeContent">
    <div class="goku-stars">
        <div class="open-sesame">
          <div class="goku1">
              <div class="goku2">
                <div class="goku3">
    <%- include('../../layout/search') %>
  <h2 id="resultstitle"> Search Results</h2>
  <section class ="all-api-movies" id ="test">
      <% renderedMovies.forEach( data => { %>
      <div id="resultscontain">
        <form class ="results-form" action="/mymovies" method = "post">
          <section class ="api-movies">
              <div class="star-rating-results">
                  <% for(let i=0; i < data.stars; i++) { %>
                  <img class="star-image-results" src="../styles/images/star1.png">
                  <% }%>
                  </div>
            <input type="hidden" name="image_url" value="<%- data.image_url %>">
            <img id="resultsimage"src=<%= data.image_url %> value="<%-data.image_url %>">
            <input type="hidden" name="title" value="<%- data.title %>">
            <h3 class="resultstitle" value="<%-data.title %>"><%= data.title %></h3>
            <input type="hidden" name="popularity" value="<%- data.popularity %>">
            <p id="popresults">Popularity: <%= data.popularity %></p>
            <input type="hidden" name="overview" value="<%- data.overview %>">
            <p id="overviewresults"><%= data.overview %></p>
            <input type="hidden" value="<%= data.stars %>" name="stars">
            <input type="hidden" name="released_on" value="<%- data.released_on %>">
            <p id="releasedresult">Released On: <%= data.released_on %></p>
            <input type="hidden" name="created_at" value="<%- data.created_at %>">
          </section>
          <button class="savebut" type="submit">Save Movie</button>
        </form>
      </div>
      <% }) %>
  </section>
    </div>
    </div>
    </div>
    </div>
    </div>
</main>
<%- include('../../layout/footer') %>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>

