<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
<body>
  <%- include('../../layout/header') %>
<main id="homeContent">

        <h2> New Search </h2>
        <form class="search-form" action="/show" method="post">
          <label>Movie Search: <input type="text" name="movieSearch" /> </label>
          <button>Submit</button>
        </form>

  <h2> Search Results</h2>
  <section class ="all-api-movies" id ="test">
      <% renderedMovies.forEach( data => { %>
        <form action ="/mymovies" method = "post">
        <section class ="api-movies">
            <input type="hidden" name="title" value="<%- data.title %>">
          <h3 class="title" value="<%-data.title %>"><%= data.title %></h3>
          <input type="hidden" name="popularity" value="<%- data.popularity %>">
          <p>Popularity: <%= data.popularity %></p>
          <input type="hidden" name="overview" value="<%- data.overview %>">
          <p>Overview: <%= data.overview %></p>
          <input type="hidden" name="released_on" value="<%- data.released_on %>">
          <p>Released On: <%= data.released_on %></p>
          <input type="hidden" name="image_url" value="<%- data.image_url %>">
          <img src=<%= data.image_url %> value="<%-data.image_url %>">
          <input type="hidden" name="created_at" value="<%- data.created_at %>">
          <p><%= data.created_at %></p>
        </section>
            <button class="savebut" type="submit">Save This Movie</button>
        </form>
      <% }) %>
  </section>
</main>
</body>
</html>

