<!DOCTYPE html>
<html>

  <%- include('../../layout/head') %>

<body>
  
    <%- include('../../layout/header') %>
 <main id="homeContent">
    <div id="searchcontain">
        <img class="projector" src="../../styles/images/projector.jpg">
        <form class="search-form" action="/show" method="post">
          <label id="labelSearch">Movie Search: 
            <input type="text" name="movieSearch" id="movieSearch"/> 
          </label>
          <button id="searchbut">Submit</button>
        </form>
      </div>
      <h2 id="poptitle">Popular Movies</h2>
<form action = "/sort" method = "post" name="selectSort">
    See Movies By: Rating
    <input type="radio" name="search" value="Rating" />
  </label>
  <label>
    See Movies By: Popular With Kids
    <input type="radio" name="search" value="Popular With Kids" />
  </label>
  <label>
    See Movies By: Popular This Year
    <input type="radio" name="search" value="Popular This Year" />
  </label>
  <button>Submit</button>

</form>



<ul id="popularMovies">
    <% sortedMovies.forEach(movie => { %>
      <div id="imgcontain">
        <li  id="listimage" data-id="<%= sortedMovies.id %>">
            <div id="star-rating">
              <% for(let i=0; i < movie.stars; i++) { %>
              <img id="star-image" src="../styles/images/star1.png">
              <% }%>
            </div>
        <img class="homemovies" src="<%= movie.image_url %>">
        </li>
      </div>
    <% }) %>
  </ul>

</main>
<%- include('../../layout/footer') %>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../public/scripts/app.js"></script>
  </body>
  </html>