<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
<body>
      <%- include('../../layout/header') %>
 <main id="homeContent">
    <%- include('../../layout/search') %>
      <h2 id="poptitle">Popular Movies</h2>
      <%- include('../../layout/sort-component') %>
<ul id="popularMovies">
    <% sortedMovies.forEach(movie => { %>
      <div id="imgcontain">
        <li  id="listimage" data-id="<%= sortedMovies.id %>">
            <div id="star-rating">
              <% for(let i=0; i < movie.stars; i++) { %>
              <img id="star-image" src="../styles/images/star1.png">
              <% }%>
            </div>
        <img class="homemovies" src="<%= movie.image_url %>">
        </li>
      </div>
    <% }) %>
  </ul>
</main>
<%- include('../../layout/footer') %>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../public/scripts/app.js"></script>
  </body>
  </html>