<!DOCTYPE html>
<html>
<%- include('../../layout/head') %>

<body id="bodyStuff">
  <%- include('../../layout/header') %>
  <main id="homeContent">
    <div class="goku-stars">
    <div class="open-sesame">
      <div class="goku1">
          <div class="goku2">
            <div class="goku3">
    <%- include('../../layout/search') %>
    <% if (howmany === 0) { %>
    <div id="sub-contain">
      <div id="deet-image-contain">
        <img id="detailsimage" src="<%= movie.image_url %>">
      </div>

      <div id="star-rating-deets">
          <% for(let i=0; i < movie.stars; i++) { %>
          <img id="star-image-deets" src="../styles/images/star1.png">
          <% }%>
        </div>
      <div class="details-contain">
 
        <section id="delete-holder">
          <h3 class="detailstitle">
            <%= movie.title %>
          </h3>
          <form action="/delete/<%= movie.id %>" method="post">
            <button class="delete" type="submit">Delete Movie</button>
          </form>
        </section>
        <p id="overviewdeets">
          <%= movie.overview %>
        </p>
        <p id="releaseddeets"> Released On:
          <%= movie.released_on %>
        </p>
        <p id="popdetails"> Popularity:
          <%= movie.popularity %>
        </p>
        <div class="reviews">
          <h3 id="releaseddeets">User Reviews</h3>
          <p> No Reviews Yet!</p>
        </div>
        <div id="button-contain">
        <button class="update-movie" type=submit>Update Movie</button>
        <button class="create-review" type=submit>Create Review</button>
        </div>
        <section class="updatemovies pop-hide">
          <form action="<%= `/details/${movie.id}` %>" method="post">
            <input type="hidden" name="_method" value="<%-'put' %>">
            <label><input type="hidden" name="title" value="<%= movie.title %>" placeholder="<%= movie.title %>" />
            </label>
            <label>Overview: <input type="text" id="editdeets"name="overview" value="<%= movie.overview %>" placeholder="<%= movie.overview %>" />
            </label>
            <label> <input type="hidden" name="Released On" id="editdeets" value="<%= movie.released_on %>" placeholder="<%= movie.released_on %>" />
            </label>
            <label>Popularity: <input type="text" id="editdeets" name="popularity" value="<%= movie.popularity %>" placeholder="<%= movie.popularity %>" />
            </label>
            <label> <input type="hidden" name="image_url" value="<%= movie.image_url %>" placeholder="<%= movie.image_url %>" />
            </label>
            <label>Stars: (1-5) <input type="number" id="editdeets" min="0" max="6" name="stars" value="<%= movie.stars %>" placeholder="<%= movie.stars %>" />
            </label>
            <button class="save-review" type=submit>Save Update</button>
          </form>
        </section>
        <section class="createreview pop-hide">
        <form action="<%- `/details/${movie.id}` %>" method="post">
          <lable><input type="text" name="username" placeholder="userName" id="editreview" value="userName"></lable>
          <input type="hidden" name="created_at" value=" <%= Date.now() %>" />
          <lable><input type="text" name="review" id="editreview" placeholder="Your Review Here" value="review" /></lable>
          <input type="hidden" name="movie_id" value="<%- movie.id %>" />
          <button class="save-review" type=submit>Save Review</button>
        </form>
        </section>
      </div>
    </div>
      <div id="amazoncontain">
        <img class="projector" src="../../styles/images/projector.jpg">
        <form target="_blank" class="search-form" action="http://www.amazon.com/exec/obidos/external-search" [RETURN] method="get">
          <input type="hidden" name="mode" value="blended" />
          <input type="hidden" name="tag" value="insert associate tag" /> 
          <label id="labelSearch">Search Amazon: 
              <input type="text" id="movieSearch" name="keyword" size="10" value="<%= movie.title %>" />
          </label>
          <div id="glasses">
              <input type="submit" id="searchbut" value="Go" />
          </div>
        </form>
      </div> 
      <% } else { %>
        <div id="sub-contain">
            <div id="deet-image-contain">
              <img id="detailsimage" src="<%= movie[0].image_url %>">
            </div>
        <div class="details-contain">
            <div class="star-rating-results">
              <% for(let i=0; i < movie[0].stars; i++) { %>
              <img class="star-image-results" src="../styles/images/star1.png">
              <% }%>
            </div>
            <section id="delete-holder">
              <h3 class="detailstitle">
                <%= movie[0].title %>
              </h3>
              <form action="/delete/<%= movie[0].id %>" method="post">
                <button class="delete" type="submit">Delete Movie</button>
              </form>
            </section>
            <p id="overviewdeets">
              <%= movie[0].overview %>
            </p>
            <p id="releaseddeets"> Released On:
              <%= movie[0].released_on %>
            </p>
            <p id="popdetails"> Popularity:
              <%= movie[0].popularity %>
            </p>
    
    
    
            <section class="reviews">
              <h3 id="releaseddeets">User Reviews</h3>
              <% for (let i = 0; i < movie.length; i ++){ %>
                <div id="overviewdeets2">
                  <p>
                    <%= movie[i].username %> : </p>
                  <p>
                    <%= movie[i].review %>
                  </p>
                  <p>
                    <%= new Date(movie[i].created_at * 1000).toDateString() %>
                  </p>
                </div>
              <% } %>
            </section>
            <div id="button-contain">
            <button class="update-movie" type=submit>Update Movie</button>
            <button class="create-review" type=submit>Create Review</button>
          </div>
            <section class="updatemovies pop-hide">
              <form action="<%= `/details/${movie.id}` %>" method="post">
                <input type="hidden" name="_method" value="<%-'put' %>">
                <label><input type="hidden" name="title" value="<%= movie.title %>" placeholder="<%= movie[0].title %>" />
                </label>
                <label>Overview: <input type="text" id="editdeets" name="overview" value="<%= movie[0].overview %>" placeholder="<%= movie.overview %>" />
                </label>
                <label> <input type="hidden" id="editdeets" name="Released On" value="<%= movie[0].released_on %>" placeholder="<%= movie.released_on %>" />
                </label>
                <label>Popularity: <input type="text" id="editdeets" name="popularity" value="<%= movie[0].popularity %>" placeholder="<%= movie.popularity %>" />
                </label>
                <label> <input type="hidden" name="image_url" value="<%= movie[0].image_url %>" placeholder="<%= movie.image_url %>" />
                </label>
                <label>Stars: (1-5) <input type="number" id="editdeets" min="0" max="6" name="stars" value="<%= movie[0].stars %>" placeholder="<%= movie[0].stars %>" />
                </label>
                <button type=submit>Save Update</button>
              </form>
            </section>
            <section class="createreview pop-hide">
            <form action="<%- `/details/${movie.id}` %>" method="post">
              <lable><input type="text" name="username" placeholder="userName" id="editreview" value="userName"></lable>
              <input type="hidden" name="created_at" value=" <%= Date.now() %>" />
              <lable><input type="text" name="review" placeholder="Your Review Here" id="editreview" value="review" /></lable>
              <input type="hidden" name="movie_id" value="<%- movie[0].movie_id %>" />
              <button type=submit>Save Review</button>
            </form>
            </section>
          </div>
        </div>
          <div id="amazoncontain">
            <img class="projector" src="../../styles/images/projector.jpg">
            <form target="_blank" class="search-form" action="http://www.amazon.com/exec/obidos/external-search" [RETURN] method="get">
              <input type="hidden" name="mode" value="blended" />
              <input type="hidden" name="tag" value="insert associate tag" /> 
              <label id="labelSearch">Search Amazon: 
                  <input type="text" id="movieSearch" name="keyword" size="10" value="<%= movie[0].title %>" />
              </label>
              <div id="glasses">
                  <input type="submit" id="searchbut" value="Go" />
              </div>
            </form>
          </div> 
      <% } %> 
    </div>
   
    </div>
    </div>
    </div>
    </div>
  </div>
  </main>
  <%- include('../../layout/footer') %>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/scripts/app.js"></script>
</body>

</html>