<!DOCTYPE html>
<html>
<head>
  <%- include('../../layout/head') %>
</head>
<body id="bodyContent">
  <header>
    <%- include('../../layout/header') %>
    <div id="subTitle"></div>
  </header>
  <main id="homeContent">
      <div id="searchcontain">
          <img class="projector" src="../../styles/images/projector.jpg">
          <form class="search-form" action="/show" method="post">
            <label id="labelSearch">Movie Search: 
              <input type="text" name="movieSearch" id="movieSearch"/> 
            </label>
            <button id="searchbut">Submit</button>
          </form>
        </div>
        <h2 id="poptitle">My Saved Movies</h2>
    <section>
      <ul id="savedMovies">
          <% savedMovies.forEach(movie => { %>
            <div id="savedcontain">
            <li id="savedlist" class="movies" data-id="<%= movie.id %>">
              <img id="savedimage" src="<%= movie.image_url %>">
              <h3 id="savedmtitle"><%= movie.title %></h3>
              <form action="<%= `/details/${movie.id}` %>" method="get">
                <button id= "viewdeets" class="view-details">View Details</button>
              </form>
            </div>
            <% }) %>
        </ul>
    </section>
  </main>
  <%- include('../../layout/footer') %>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="../../../public/scripts/app.js"></script>
</body>
</html>

