<!DOCTYPE html>
<html>
<head>
  <%- include('../../layout/head') %>
</head>
<body id="bodyStuff">
<header>
  <%- include('../../layout/header') %>
  <div id="subTitle"></div>
</header>
<main id="mainStuff">
    <ul id="savedMovies">
        <% savedMovies.forEach(movie => { %>
          <li class="movies" data-id="<%= movie.id %>">
            <img src="<%= movie.image_url %>">
            <h3><%= movie.title %></h3>
            <form action="<%= `/details/${movie.id}` %>" method="get">
              <button class="view-details">View Details</button>
            </form>
          <% }) %>
      </ul>
</main>
<footer>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="../../public/scripts/app.js"></script>
</body>
</html>