<ul id="savedMovies">
    <% results.forEach(task => { %>
      <li class="movies" data-id="<%= popularMovies.id %>">
        <img href="<%= popularMovies.img_url %>">
        <p><%= popularMovies.title %></p>
        <p>Description: <%= task.description %></p>
        <p>Task Id: <%= task.id %></p>
        <a href="/show/<%= popularMovies.id %>">View Details</a>
      </li>
    <% }) %>
  </ul>