<!DOCTYPE html>
<html>
  <%- include('../layout/head') %>
<body >
  <%- include('../layout/header') %>
  
<main id="homeContent">
    <!-- <div class="goku-stars">
        <div class="open-sesame">
          <div class="goku1">
              <div class="goku2">
                <div class="goku3"> -->
  <%- include('../layout/search') %>
  <h2 id="resultstitle">Popular Movies</h2>
  <%- include('../layout/sort-component') %>
  <%- include('../layout/home') %>
<!-- </div>
</div>
</div>
</div>
</div> -->
</main>
<%- include('../layout/footer') %>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>