<ul id="popularMovies">
    <% popularMovies.forEach(movie => { %>
      <section class='details-container'>
      <div id="imgcontain">
        <li  id="listimage" data-id="<%= popularMovies.id %>">
          <div id="star-rating">
            <% for(let i=0; i < movie.stars; i++) { %>
              <img id="star-image" src="../styles/images/star1.png">
              <% }%>
            </div>
            <img class="homemovies" src="<%= movie.image_url %>">
    </div>
  </li>
    <section class="pop-details pop-hide">
        <form class ="results-form" action="/mymovies" method = "post">
          <input type="hidden" value="<%= movie.title %>" name="title">
          <input type="hidden" value="<%= movie.popularity %>" name="popularity">
          <input type="hidden" value="<%= movie.overview %>" name="overview">
          <input type="hidden" value="<%= movie.released_on %>" name="released_on">
          <input type="hidden" value="<%= movie.image_url%>" name="image_url">
          <input type="hidden" value="<%= movie.stars %>" name="stars">
          <button class="savebut" type="submit">Save Movie</button>
        </form>
      <h3><%= movie.title %> </h3>
      <p>Popularity: <%= movie.popularity %> </p>
      <p> Released On: <%= movie.released_on %></p>
      <p> <%= movie.overview %></p>
    </section>
      </div>
    </section>
    <% }) %>

  </ul>

  
 