
<div id="searchcontain">
  <img class="projector" src="../../styles/images/projector.jpg">
  <form class="search-form" action="/show" method="post">
    <label id="labelSearch">Movie Search: 
      <input type="text" name="movieSearch" id="movieSearch"/> 
    </label>
    <button id="searchbut">Submit</button>
  </form>
</div>
<h2 id="poptitle">Popular Movies</h2>

<form action = "/sort" method = "post" name="selectSort">
      Sort By: Rating
      <input type="radio" name="search" value="Rating" />
    </label>
    <label>
      Sort By: Popular With Kids
      <input type="radio" name="search" value="Popular With Kids" />
    </label>
    <label>
      Sort By: Popular This Year
      <input type="radio" name="search" value="Popular This Year" />
    </label>
    <button>Submit</button>

</form>

<ul id="popularMovies">
    <% popularMovies.forEach(movie => { %>
      <div id="imgcontain">
        <li  id="listimage" data-id="<%= popularMovies.id %>">
        <img class="homemovies" src="<%= movie.image_url %>">
        <!-- <h3 id="homemtitle"><%= movie.title %></h3> -->
    <div id="star-rating">
      <% for(let i=0; i < movie.stars; i++) { %>
      <img id="star-image" src="../styles/images/star1.png">
    <% }%>
      </div>
    </div>
  </li>
    <section class="pop-details pop-hide">
      <p><%= movie.title %> </p>
      <p><%= movie.popularity %> </p>
      <p> <%= movie.overview %></p>
    </section>
      </div>
    <% }) %>
  </ul>

  
 